<% provide(:title, 'About us') %>
<h1>About us</h1>
<p>
   THe <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
   is a project that blahblahbl.  I'm doing this for me own damn fun!
</p>

