<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on Rails at 
   <a href="http://railstutorial.org/help">Ruby on Rails Tutorial</a>.
   to get help on the app, see: 
   <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>

